################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Skytteforeningen/.vs/Skytteforeningen/v15
/Skytteforeningen/Domain/obj/Debug/
/Skytteforeningen/Domain/obj/Release/
/Skytteforeningen/Api/obj/Debug/
/Skytteforeningen/Api/obj/Release/
/Skytteforeningen/Api/obj/Release/netcoreapp2.1/Api.AssemblyInfo.cs
/Skytteforeningen/Api/obj/Release/netcoreapp2.1/Api.RazorAssemblyInfo.cs
/Skytteforeningen/Api/obj/Release/netcoreapp2.1/Api.RazorAssemblyInfo.cache
/Skytteforeningen/Api/obj/Release/netcoreapp2.1/Api.csproj.CoreCompileInputs.cache
/Skytteforeningen/Api/obj/Release/netcoreapp2.1/Api.assets.cache
/Skytteforeningen/Api/obj/Release/netcoreapp2.1/Api.AssemblyInfoInputs.cache
/Skytteforeningen/Domain/obj/Debug/netcoreapp2.1/Domain.csprojAssemblyReference.cache
/Skytteforeningen/Domain/obj/Release/netcoreapp2.1/Domain.AssemblyInfo.cs
/Skytteforeningen/Domain/obj/Release/netcoreapp2.1/Domain.assets.cache
/Skytteforeningen/Domain/obj/Release/netcoreapp2.1/Domain.AssemblyInfoInputs.cache
/Skytteforeningen/Domain/obj/Release/netcoreapp2.1/Domain.csproj.CoreCompileInputs.cache
