################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Skytteforeningen/.vs/Skytteforeningen/v15
/Skytteforeningen/Api/bin/Debug/netcoreapp2.1/Api.deps.json
/Skytteforeningen/Api/bin/Debug/netcoreapp2.1/Api.dll
/Skytteforeningen/Api/bin/Debug/netcoreapp2.1/Api.pdb
/Skytteforeningen/Api/bin/Debug/netcoreapp2.1/Api.runtimeconfig.dev.json
/Skytteforeningen/Api/bin/Debug/netcoreapp2.1/Api.runtimeconfig.json
/Skytteforeningen/Api/bin/Debug/netcoreapp2.1/Domain.dll
/Skytteforeningen/Api/bin/Debug/netcoreapp2.1/Domain.pdb
/Skytteforeningen/Domain/bin/Debug/netcoreapp2.1/Domain.deps.json
/Skytteforeningen/Domain/bin/Debug/netcoreapp2.1/Domain.pdb
/Skytteforeningen/Domain/bin/Debug/netcoreapp2.1/Domain.dll
/Skytteforeningen/Api/obj/Debug/netcoreapp2.1/Api.csproj.CopyComplete
/Skytteforeningen/Api/obj/Debug/netcoreapp2.1/Api.csproj.FileListAbsolute.txt
/Skytteforeningen/Api/obj/Debug/netcoreapp2.1/Api.dll
/Skytteforeningen/Api/obj/Debug/netcoreapp2.1/Api.pdb
/Skytteforeningen/Api/obj/Debug/netcoreapp2.1/Api.RazorTargetAssemblyInfo.cache
/Skytteforeningen/Domain/obj/Debug/netcoreapp2.1/Domain.csproj.FileListAbsolute.txt
/Skytteforeningen/Domain/obj/Debug/netcoreapp2.1/Domain.csprojAssemblyReference.cache
/Skytteforeningen/Domain/obj/Debug/netcoreapp2.1/Domain.dll
/Skytteforeningen/Domain/obj/Debug/netcoreapp2.1/Domain.pdb
